@media screen and (max-width: 576px) {
  .mic-c,
  .podcast,
  suc {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .suc {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-bottom: 50px;
  }
  .why {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .why .wt {
    font-size: 32px;
  }
  .why .mob {
    grid-template-columns: 1fr !important;
  }
  .why .mob > div {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
  .feature-section {
    padding-top: 40px !important;
    padding-bottom: 60px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .boxxx {
    margin: auto;
    width: 100%;
    height: 393;
  }
  .ifc {
    width: 100%;
    height: 225px;
  }

  .ved {
    grid-template-columns: 1fr !important;
    margin: auto;
  }
  .host-s {
    gap: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .host-s img {
    margin: auto;
  }
  .host-img {
    width: 150px;
    height: 150px;
  }
  .host-s p {
    max-width: 100%;
  }
  .imgr {
    justify-content: center;
    gap: 5px;
  }
  .mnn {
    padding-top: 60px !important;
    padding-bottom: 40px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media screen and (min-width: 578px) and (max-width: 992px) {
  .mic-c {
    padding-top: 101px;
    padding-bottom: 101px;
  }
  .podcast {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .suc {
    padding-top: 80px;
    padding-bottom: 100px;
    gap: 80px;
  }
  .why {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 200px;
    padding-left: 200px;
  }
}

@media screen and (min-width: 992px) {
  .mic-c {
    padding-top: 101px;
    padding-bottom: 101px;
  }
  .podcast {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .suc {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .why {
    padding-top: 120;
    padding-bottom: 120;
    padding-right: 200px;
    padding-left: 200;
  }
}
